#searchTab {
  margin-top: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 20;
}
select,
input,
select:focus,
input::placeholder {
  background-color: #15b9c1;
  border: none;
  font-size: 12pt;
  color: #383231;
}