#logo {
  padding: 5vh;
}
#logo img {
  height: 8vh;
}
#logo p {
  transform: rotate(-20deg);
  background-color: #f1a130;
  margin-top: -3vh;
  margin-left: 6vw;
  font-size: 1.5em;
  padding: 5px;
}